In [9]:
import pandas as pd

In [11]:
customer_data = pd.read_csv('customer_data.csv')
customer_data.head()

,Name,Age,Gender,City,Membership,PurchaseAmount,Rating,Feedback,SignupDate,Churned
0,Customer_1,56.0,Female,Antalya,Platinum,1406.0,4.3,NaN,2022-01-02,False
1,Customer_2,69.0,Female,Antalya,Basic,6876.0,4.2,Good,2022-01-09,True
2,Customer_3,NaN,Female,Ankara,Gold,5964.0,1.6,NaN,2022-01-16,False
3,Customer_4,32.0,Female,Antalya,Gold,9574.0,3.0,Good,2022-01-23,False
4,Customer_5,60.0,Male,Ankara,Platinum,7626.0,3.8,Bad,2022-01-30,False

In [21]:
customer_data.dtypes

Name               object
Age               float64
Gender             object
City               object
Membership         object
PurchaseAmount    float64
Rating            float64
Feedback           object
SignupDate         object
Churned              bool
dtype: object

In [87]:
max_nun = customer_data.isna().sum()
max_nun_column = max_nun.idxmax()
max_nun_column

'Feedback'

In [131]:
customer_data["City"].max()

'Izmir'

In [137]:
customer_data["PurchaseAmount"].mean()

np.float64(4741.510638297872)

In [270]:
customer_data = pd.read_csv('customer_data.csv')

In [298]:
young = customer_data[customer_data["Age"]>18]
adult = customer_data[(customer_data["Age"] >= 18) & (customer_data["Age"] <= 40)]
senior = customer_data[customer_data["Age"]>40]
adult

,Name,Age,Gender,City,Membership,PurchaseAmount,Rating,Feedback,SignupDate,Churned
3,Customer_4,32.0,Female,Antalya,Gold,9574.0,3.0,Good,2022-01-23,False
5,Customer_6,25.0,NaN,Istanbul,Gold,9001.0,4.4,Good,2022-02-06,True
6,Customer_7,38.0,NaN,Bursa,Basic,5675.0,2.3,NaN,2022-02-13,False
8,Customer_9,36.0,Female,Bursa,Basic,4513.0,3.8,NaN,2022-02-27,False
9,Customer_10,40.0,Female,Antalya,Platinum,NaN,4.2,NaN,2022-03-06,True
10,Customer_11,28.0,Male,Istanbul,Platinum,763.0,2.4,NaN,2022-03-13,False
11,Customer_12,28.0,Female,Antalya,Silver,2098.0,1.4,Average,2022-03-20,True
16,Customer_17,20.0,Male,Istanbul,Gold,5332.0,3.7,NaN,2022-04-24,False
17,Customer_18,39.0,Male,Bursa,Gold,1953.0,3.9,NaN,2022-05-01,True
18,Customer_19,19.0,Female,Izmir,Basic,6685.0,1.8,Average,2022-05-08,True
23,Customer_24,19.0,Female,Istanbul,Gold,1736.0,4.9,Bad,2022-06-12,True
24,Customer_25,38.0,Female,Izmir,Gold,3796.0,3.1,Bad,2022-06-19,True
26,Customer_27,29.0,Female,Ankara,Platinum,4837.0,5.0,Bad,2022-07-03,False
27,Customer_28,39.0,Female,Ankara,Silver,954.0,4.9,Good,2022-07-10,True
34,Customer_35,33.0,NaN,Antalya,Platinum,1807.0,4.4,Good,2022-08-28,False
35,Customer_36,32.0,Female,Izmir,Platinum,5891.0,2.6,Bad,2022-09-04,True
44,Customer_45,38.0,Female,Antalya,Gold,8104.0,4.9,NaN,2022-11-06,True
47,Customer_48,35.0,Female,Istanbul,Gold,297.0,2.9,Average,2022-11-27,False
48,Customer_49,21.0,Male,Ankara,Silver,7225.0,2.8,NaN,2022-12-04,True

In [185]:
avarage_rating = customer_data.groupby("City", as_index=False)["Rating"].mean()
avarage_rating

       City    Rating
0    Ankara  3.625000
1   Antalya  3.650000
2     Bursa  3.300000
3  Istanbul  3.607143
4     Izmir  2.890909

In [192]:
avarage_rating.idxmax(),avarage_rating.max()

(City      4
 Rating    1
 dtype: int64,
 City      Izmir
 Rating     3.65
 dtype: object)

In [210]:
customer_data_false = customer_data[customer_data["Churned"] == 0]
customer_data_false

,Name,Age,Gender,City,Membership,PurchaseAmount,Rating,Feedback,SignupDate,Churned
0,Customer_1,NaN,Female,Antalya,Platinum,1406.000000,4.3,NaN,2022-01-02,False
2,Customer_3,NaN,Female,Ankara,Gold,5964.000000,1.6,NaN,2022-01-16,False
3,Customer_4,NaN,Female,Antalya,Gold,9574.000000,3.0,Good,2022-01-23,False
4,Customer_5,NaN,Male,Ankara,Platinum,7626.000000,3.8,Bad,2022-01-30,False
6,Customer_7,NaN,NaN,Bursa,Basic,5675.000000,2.3,NaN,2022-02-13,False
8,Customer_9,NaN,Female,Bursa,Basic,4513.000000,3.8,NaN,2022-02-27,False
10,Customer_11,NaN,Male,Istanbul,Platinum,763.000000,2.4,NaN,2022-03-13,False
13,Customer_14,NaN,Female,Istanbul,Gold,1595.000000,2.6,Good,2022-04-03,False
16,Customer_17,NaN,Male,Istanbul,Gold,5332.000000,3.7,NaN,2022-04-24,False
20,Customer_21,NaN,Female,Istanbul,Basic,3681.000000,3.8,Bad,2022-05-22,False
22,Customer_23,NaN,Female,Izmir,Gold,7380.000000,1.7,Bad,2022-06-05,False
26,Customer_27,NaN,Female,Ankara,Platinum,4837.000000,5.0,Bad,2022-07-03,False
29,Customer_30,NaN,Female,Bursa,Basic,5955.000000,4.5,Bad,2022-07-24,False
31,Customer_32,NaN,Male,Bursa,Basic,6628.000000,2.1,Average,2022-08-07,False
32,Customer_33,NaN,Male,Ankara,Basic,5349.000000,3.8,Average,2022-08-14,False
34,Customer_35,NaN,NaN,Antalya,Platinum,1807.000000,4.4,Good,2022-08-28,False
36,Customer_37,NaN,Female,Bursa,Platinum,5635.000000,4.6,Good,2022-09-11,False
37,Customer_38,NaN,Female,Izmir,Platinum,4741.510638,4.4,NaN,2022-09-18,False
39,Customer_40,NaN,Female,Istanbul,Silver,302.000000,4.1,NaN,2022-10-02,False
40,Customer_41,NaN,Female,Izmir,Silver,4318.000000,3.7,Good,2022-10-09,False
41,Customer_42,NaN,Male,Antalya,Gold,9058.000000,3.3,Good,2022-10-16,False
42,Customer_43,NaN,Female,Izmir,Platinum,4741.510638,2.5,NaN,2022-10-23,False
43,Customer_44,NaN,Male,Istanbul,Silver,2427.000000,4.8,Good,2022-10-30,False
45,Customer_46,NaN,Female,Ankara,Platinum,3031.000000,2.1,Average,2022-11-13,False
47,Customer_48,NaN,Female,Istanbul,Gold,297.000000,2.9,Average,2022-11-27,False

In [212]:
customer_data_false['PurchaseAmount'].mean()

np.float64(4505.4408510638295)

In [216]:
customer_data["SignupDate"] = customer_data["SignupDate"].str.replace("\-", "",regex=True).astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\-'
<>:1: SyntaxWarning: invalid escape sequence '\-'
C:\Users\kerem\AppData\Local\Temp\ipykernel_20184\1706816183.py:1: SyntaxWarning: invalid escape sequence '\-'
  customer_data["SignupDate"] = customer_data["SignupDate"].str.replace("\-", "",regex=True).astype(int)

In [218]:
customer_data

,Name,Age,Gender,City,Membership,PurchaseAmount,Rating,Feedback,SignupDate,Churned
0,Customer_1,NaN,Female,Antalya,Platinum,1406.000000,4.3,NaN,20220102,False
1,Customer_2,NaN,Female,Antalya,Basic,6876.000000,4.2,Good,20220109,True
2,Customer_3,NaN,Female,Ankara,Gold,5964.000000,1.6,NaN,20220116,False
3,Customer_4,NaN,Female,Antalya,Gold,9574.000000,3.0,Good,20220123,False
4,Customer_5,NaN,Male,Ankara,Platinum,7626.000000,3.8,Bad,20220130,False
5,Customer_6,NaN,NaN,Istanbul,Gold,9001.000000,4.4,Good,20220206,True
6,Customer_7,NaN,NaN,Bursa,Basic,5675.000000,2.3,NaN,20220213,False
7,Customer_8,NaN,Female,Bursa,Platinum,5630.000000,1.9,NaN,20220220,True
8,Customer_9,NaN,Female,Bursa,Basic,4513.000000,3.8,NaN,20220227,False
9,Customer_10,NaN,Female,Antalya,Platinum,4741.510638,4.2,NaN,20220306,True
10,Customer_11,NaN,Male,Istanbul,Platinum,763.000000,2.4,NaN,20220313,False
11,Customer_12,NaN,Female,Antalya,Silver,2098.000000,1.4,Average,20220320,True
12,Customer_13,NaN,Male,Antalya,Basic,8094.000000,4.8,Average,20220327,True
13,Customer_14,NaN,Female,Istanbul,Gold,1595.000000,2.6,Good,20220403,False
14,Customer_15,NaN,Male,Istanbul,Gold,3404.000000,3.1,NaN,20220410,True
15,Customer_16,NaN,Female,Istanbul,Basic,3863.000000,4.4,Good,20220417,True
16,Customer_17,NaN,Male,Istanbul,Gold,5332.000000,3.7,NaN,20220424,False
17,Customer_18,NaN,Male,Bursa,Gold,1953.000000,3.9,NaN,20220501,True
18,Customer_19,NaN,Female,Izmir,Basic,6685.000000,1.8,Average,20220508,True
19,Customer_20,NaN,Male,Izmir,Platinum,1391.000000,3.2,Average,20220515,True
20,Customer_21,NaN,Female,Istanbul,Basic,3681.000000,3.8,Bad,20220522,False
21,Customer_22,NaN,Female,Izmir,Platinum,7654.000000,1.9,Average,20220529,True
22,Customer_23,NaN,Female,Izmir,Gold,7380.000000,1.7,Bad,20220605,False
23,Customer_24,NaN,Female,Istanbul,Gold,1736.000000,4.9,Bad,20220612,True
24,Customer_25,NaN,Female,Izmir,Gold,3796.000000,3.1,Bad,20220619,True
25,Customer_26,NaN,Female,Antalya,Silver,798.000000,2.0,Bad,20220626,True
26,Customer_27,NaN,Female,Ankara,Platinum,4837.000000,5.0,Bad,20220703,False
27,Customer_28,NaN,Female,Ankara,Silver,954.000000,4.9,Good,20220710,True
28,Customer_29,NaN,NaN,Istanbul,Silver,8264.000000,3.2,Average,20220717,True
29,Customer_30,NaN,Female,Bursa,Basic,5955.000000,4.5,Bad,20220724,False
30,Customer_31,NaN,Female,Istanbul,Silver,7492.000000,1.8,NaN,20220731,True
31,Customer_32,NaN,Male,Bursa,Basic,6628.000000,2.1,Average,20220807,False
32,Customer_33,NaN,Male,Ankara,Basic,5349.000000,3.8,Average,20220814,False
33,Customer_34,NaN,Female,Istanbul,Silver,5272.000000,4.4,Bad,20220821,True
34,Customer_35,NaN,NaN,Antalya,Platinum,1807.000000,4.4,Good,20220828,False
35,Customer_36,NaN,Female,Izmir,Platinum,5891.000000,2.6,Bad,20220904,True
36,Customer_37,NaN,Female,Bursa,Platinum,5635.000000,4.6,Good,20220911,False
37,Customer_38,NaN,Female,Izmir,Platinum,4741.510638,4.4,NaN,20220918,False
38,Customer_39,NaN,Female,Izmir,Platinum,3610.000000,4.7,Average,20220925,True
39,Customer_40,NaN,Female,Istanbul,Silver,302.000000,4.1,NaN,20221002,False
40,Customer_41,NaN,Female,Izmir,Silver,4318.000000,3.7,Good,20221009,False
41,Customer_42,NaN,Male,Antalya,Gold,9058.000000,3.3,Good,20221016,False
42,Customer_43,NaN,Female,Izmir,Platinum,4741.510638,2.5,NaN,20221023,False
43,Customer_44,NaN,Male,Istanbul,Silver,2427.000000,4.8,Good,20221030,False
44,Customer_45,NaN,Female,Antalya,Gold,8104.000000,4.9,NaN,20221106,True
45,Customer_46,NaN,Female,Ankara,Platinum,3031.000000,2.1,Average,20221113,False
46,Customer_47,NaN,Male,Izmir,Basic,7877.000000,2.2,NaN,20221120,True
47,Customer_48,NaN,Female,Istanbul,Gold,297.000000,2.9,Average,20221127,False
48,Customer_49,NaN,Male,Ankara,Silver,7225.000000,2.8,NaN,20221204,True
49,Customer_50,NaN,Female,Ankara,Basic,2030.000000,5.0,Good,20221211,True

In [246]:
new = customer_data[customer_data["SignupDate"] == customer_data["SignupDate"].max()]

In [248]:
new

,Name,Age,Gender,City,Membership,PurchaseAmount,Rating,Feedback,SignupDate,Churned
49,Customer_50,NaN,Female,Ankara,Basic,2030.0,5.0,Good,20221211,True

In [252]:
old = customer_data[customer_data["SignupDate"]==customer_data["SignupDate"].min()]
old

,Name,Age,Gender,City,Membership,PurchaseAmount,Rating,Feedback,SignupDate,Churned
0,Customer_1,NaN,Female,Antalya,Platinum,1406.0,4.3,NaN,20220102,False