In [1]:
import pandas as pd

In [3]:
gpt2 = pd.read_csv("gpt2.csv")
gpt2

,ID,Age,Salary,Department,Experience,Education,PerformanceScore,WorkingHours,Remote,Bonus,ProjectsCompleted,SickDays
0,1,58,4585,Finance,9,Bachelors,1,35,False,619,0,2
1,2,48,6943,Finance,3,Masters,4,64,True,1330,4,3
2,3,34,10555,IT,7,Masters,3,66,True,2310,12,1
3,4,27,6073,Finance,6,Masters,1,53,False,1581,3,0
4,5,40,4021,Sales,8,PhD,4,58,True,2474,15,6
5,6,58,6843,Finance,9,PhD,4,60,True,1869,15,7
6,7,38,10989,IT,5,Bachelors,3,64,False,1240,1,6
7,8,42,9873,Sales,1,Bachelors,1,62,True,616,16,13
8,9,30,8675,HR,19,PhD,3,50,False,2353,19,4
9,10,30,3161,Finance,10,Masters,1,61,True,1650,11,11
10,11,43,7297,IT,12,Bachelors,5,52,False,2431,17,0
11,12,55,3995,HR,24,PhD,2,62,False,1512,2,6
12,13,59,10629,HR,15,PhD,2,32,False,2164,0,12
13,14,43,4016,Marketing,22,PhD,2,47,False,1581,0,6
14,15,22,10869,Sales,24,Masters,3,54,True,1133,18,8
15,16,41,9439,Finance,9,PhD,5,60,False,1012,10,2
16,17,21,10892,IT,20,PhD,1,32,False,1619,4,8
17,18,43,9863,Marketing,17,PhD,4,69,False,1641,11,13
18,19,49,10916,Sales,17,PhD,1,53,True,1059,2,0
19,20,57,11529,Marketing,20,Bachelors,4,61,False,987,0,0
20,21,21,3878,Sales,12,Bachelors,1,51,True,1396,0,13
21,22,40,7887,Sales,7,PhD,5,52,False,1712,7,3
22,23,52,7859,Finance,2,Masters,4,31,True,1203,9,8
23,24,31,9331,Sales,3,Bachelors,3,56,True,1970,10,5
24,25,41,11571,Marketing,17,PhD,1,31,False,1080,11,12
25,26,44,11684,Sales,5,Bachelors,1,55,True,2794,12,10
26,27,46,10208,Finance,17,Bachelors,4,46,False,653,11,2
27,28,47,8276,Finance,24,Masters,3,69,False,2179,13,0
28,29,35,5062,Marketing,17,PhD,3,62,False,1496,1,3
29,30,34,3064,HR,17,PhD,5,38,True,1743,18,11
30,31,22,11006,HR,2,Masters,3,68,True,1592,17,12
31,32,56,5568,Sales,2,Masters,3,58,False,1508,2,8
32,33,26,8463,IT,22,PhD,3,55,False,2641,16,2
33,34,40,5027,Sales,23,PhD,2,64,True,2273,7,11
34,35,28,5695,Marketing,5,Masters,5,54,False,1457,9,8
35,36,58,8258,Marketing,1,Bachelors,1,53,False,952,1,6
36,37,37,8618,Marketing,1,Bachelors,4,42,False,1727,18,11
37,38,23,9736,Marketing,19,Masters,1,36,True,2765,8,13
38,39,44,3391,Marketing,2,Bachelors,5,65,True,2979,6,14
39,40,33,8892,Finance,21,Masters,4,49,True,2888,3,3
40,41,28,6561,HR,12,Bachelors,5,30,False,1050,17,2
41,42,45,9184,Marketing,6,Bachelors,3,37,False,2135,12,9
42,43,21,6099,IT,23,PhD,4,45,False,1812,10,14
43,44,39,9278,IT,4,PhD,3,43,True,2257,3,4
44,45,47,11392,IT,23,Bachelors,1,41,False,856,3,4
45,46,26,6104,IT,11,Bachelors,1,52,False,2570,9,2
46,47,27,10215,Finance,24,PhD,4,44,False,2285,4,11
47,48,54,5454,IT,17,PhD,4,57,False,2281,8,8
48,49,33,11996,Marketing,6,PhD,5,63,True,2989,2,3
49,50,36,5731,Sales,24,Masters,5,31,True,2131,16,10

In [37]:
sira=gpt2[(gpt2["Remote"]==True) & (gpt2["PerformanceScore"]>3)]["Salary"].idxmax()
gpt2.iloc[sira]

ID                          49
Age                         33
Salary                   11996
Department           Marketing
Experience                   6
Education                  PhD
PerformanceScore             5
WorkingHours                63
Remote                    True
Bonus                     2989
ProjectsCompleted            2
SickDays                     3
Name: 48, dtype: object

In [95]:
gpt2[gpt2["ProjectsCompleted"] > 5].groupby("Department", as_index=False)["Bonus"].mean()

  Department        Bonus
0    Finance  1427.666667
1         HR  1684.500000
2         IT  2340.833333
3  Marketing  1969.142857
4      Sales  1887.875000

In [165]:
gpt2[gpt2["Experience"] > 10].sort_values("Age").head(2)["Department"]

16       IT
20    Sales
Name: Department, dtype: object

In [171]:
gpt2.groupby("Department", as_index=False).agg({
    "Salary":"mean",
    "Bonus":"mean"
})

  Department       Salary        Bonus
0    Finance  7499.454545  1569.909091
1         HR  7321.666667  1735.666667
2         IT  8652.300000  2001.700000
3  Marketing  8243.250000  1815.750000
4      Sales  7707.727273  1733.272727

In [181]:
gpt2[gpt2["Remote"]==True]["WorkingHours"].mean() - gpt2[gpt2["Remote"]==False]["WorkingHours"].mean()

np.float64(3.88669950738916)

In [185]:
pd.pivot_table(gpt2, columns="Education",index="Department",values=["Salary","PerformanceScore"],aggfunc="mean")

           PerformanceScore                        Salary                \
Education         Bachelors   Masters       PhD Bachelors       Masters
Department
Finance                 2.5  2.833333  4.333333    7396.5   6867.333333
HR                      5.0  3.000000  3.000000    6561.0  11006.000000
IT                      2.5  3.000000  3.000000    8945.5  10555.000000
Marketing               3.4  3.000000  3.000000    8196.0   7715.500000
Sales                   1.5  3.666667  3.000000    8691.5   7389.333333


Education           PhD
Department
Finance     8832.333333
HR          6590.750000
IT          8037.200000
Marketing   8501.600000
Sales       6962.750000

In [229]:
gpt2[(gpt2["Remote"]==False) & (gpt2["Salary"] > gpt2[gpt2["Remote"]==False]["Salary"].quantile(0.01)) & (gpt2["Salary"] < gpt2[gpt2["Remote"]==False]["Salary"].quantile(0.99))]

,ID,Age,Salary,Department,Experience,Education,PerformanceScore,WorkingHours,Remote,Bonus,ProjectsCompleted,SickDays
0,1,58,4585,Finance,9,Bachelors,1,35,False,619,0,2
3,4,27,6073,Finance,6,Masters,1,53,False,1581,3,0
6,7,38,10989,IT,5,Bachelors,3,64,False,1240,1,6
8,9,30,8675,HR,19,PhD,3,50,False,2353,19,4
10,11,43,7297,IT,12,Bachelors,5,52,False,2431,17,0
12,13,59,10629,HR,15,PhD,2,32,False,2164,0,12
13,14,43,4016,Marketing,22,PhD,2,47,False,1581,0,6
15,16,41,9439,Finance,9,PhD,5,60,False,1012,10,2
16,17,21,10892,IT,20,PhD,1,32,False,1619,4,8
17,18,43,9863,Marketing,17,PhD,4,69,False,1641,11,13
19,20,57,11529,Marketing,20,Bachelors,4,61,False,987,0,0
21,22,40,7887,Sales,7,PhD,5,52,False,1712,7,3
26,27,46,10208,Finance,17,Bachelors,4,46,False,653,11,2
27,28,47,8276,Finance,24,Masters,3,69,False,2179,13,0
28,29,35,5062,Marketing,17,PhD,3,62,False,1496,1,3
31,32,56,5568,Sales,2,Masters,3,58,False,1508,2,8
32,33,26,8463,IT,22,PhD,3,55,False,2641,16,2
34,35,28,5695,Marketing,5,Masters,5,54,False,1457,9,8
35,36,58,8258,Marketing,1,Bachelors,1,53,False,952,1,6
36,37,37,8618,Marketing,1,Bachelors,4,42,False,1727,18,11
40,41,28,6561,HR,12,Bachelors,5,30,False,1050,17,2
41,42,45,9184,Marketing,6,Bachelors,3,37,False,2135,12,9
42,43,21,6099,IT,23,PhD,4,45,False,1812,10,14
44,45,47,11392,IT,23,Bachelors,1,41,False,856,3,4
45,46,26,6104,IT,11,Bachelors,1,52,False,2570,9,2
46,47,27,10215,Finance,24,PhD,4,44,False,2285,4,11
47,48,54,5454,IT,17,PhD,4,57,False,2281,8,8

In [231]:
gpt2["Experience"].corr(gpt2["PerformanceScore"])

np.float64(-0.06337695011895263)

In [233]:
gpt2[gpt2["Education"]=="PhD"]["Bonus"].mean()

np.float64(1897.7619047619048)

In [262]:
gpt2.loc[gpt2.groupby("Department")["ProjectsCompleted"].idxmax(), ["Experience","PerformanceScore"]]

    Experience  PerformanceScore
5            9                 4
8           19                 3
10          12                 5
36           1                 4
14          24                 3

In [264]:
gpt2[gpt2["Age"]<30]["Salary"].mean() - gpt2[gpt2["Age"]>30]["Salary"].mean()

np.float64(-68.08333333333303)

In [276]:
gpt2[gpt2["PerformanceScore"]>=4].groupby("ID").agg({
    "Bonus":"mean",
    "WorkingHours":"mean"
})

     Bonus  WorkingHours
ID
2   1330.0          64.0
5   2474.0          58.0
6   1869.0          60.0
11  2431.0          52.0
16  1012.0          60.0
18  1641.0          69.0
20   987.0          61.0
22  1712.0          52.0
23  1203.0          31.0
27   653.0          46.0
30  1743.0          38.0
35  1457.0          54.0
37  1727.0          42.0
39  2979.0          65.0
40  2888.0          49.0
41  1050.0          30.0
43  1812.0          45.0
47  2285.0          44.0
48  2281.0          57.0
49  2989.0          63.0
50  2131.0          31.0